* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Gilroy'; */
}
html, body {
    width: 100%;
    height: 100%;
}
.main {
    width: 100%;
    height: 100%;
    /* background-color: burlywood; */
}
.main .nav1 {
    width: 100%;
    height: 70px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.main .nav1 .nav-part-1 {
    display: flex;
    align-items: center;
}
.main .nav1 .nav-part-1 .gola {
    width: 16px;
    height: 16px;
    background-color: black;
    border-radius: 50%;
    margin-right: 2px;
}
.main .nav1 .nav-part-2 {
    display: flex;
    gap: 38px;
}
.main .nav1 .nav-part-2 h3 {
    font-size: 16px;
    font-weight: 600;
}
.main .nav1 .nav-part-2 h3 span {
    margin-left: 8px;
    color: rgb(135, 132, 132);
}
.main .nav2 {
    width: 100%;
    height: 60px;
    /* background-color: red; */
    display: flex;
    padding: 0 20px;
    gap: 45px;
}
.main .nav2 h3 {
    font-size: 16px;
    font-weight: 500;
}
/* .main .text-box {
    display: flex;
    justify-content: center;
    overflow-x: scroll;
}
.main .text-content {
    width: 100%;
    background-color: aqua;
    height: 210px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}
.text-content h3.trendline {
    position: absolute;
    top: 20%;
    left: 22%;
}
.text-content h1 {
    font-size: 100px;
    font-weight: 100;
    margin-left: 200px;
}
.text-content h3 {
    position: absolute;
    top: 20%;
    left: 31%;
}
.text-content h3 span {
    margin-left: 48px;
    font-weight: 400;
    color: rgb(79, 73, 73);
} */

.main .content {
    width: 100%;
    height: calc(100% - 130px);
    /* background-color: black; */
}
.text-content {
    height: 40%;
    width: 100%;
    /* background-color: burlywood; */
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.content .text-content .elem h3 {
    position: absolute;
    top: 20%;
    left: 18%;
}
.content .text-content .elem h3 span {
    margin-left: 32px;
    font-weight: 300;
    color: rgb(79, 73, 73);
}
.main .content .text-content::-webkit-scrollbar {
    background-color: transparent;
    height: 7px;
    width: 5px;
}
.text-content::-webkit-scrollbar-thumb {
    background-color: orangered;
}
.elem {
    position: relative;
    flex-shrink: 0;
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.elem h1 {
    font-size: 110px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
}
.image-content {
    width: 100%;
    height: 60%;
    display: flex;
    overflow-x: auto;
}
.image-content::-webkit-scrollbar {
    display: none;
    height: 7px;
    width: 1px;
    border-radius: 20px;
}
.image-content::-webkit-scrollbar-thumb {
    background-color: orangered;
}
.image-content img {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}